@font-face {
    font-family: Atari;
    src: url(static/fonts/PressStart2P.ttf);
  }

* {
    font-family: Atari;
    color: rgb(225, 225, 225);
    box-sizing: border-box;
    font-size: medium;
    text-transform: uppercase;
    line-height: 20px;
}

body {
    background-color: rgb(15, 15, 15);
}

#location-image {
    display: inline-block;
    width: fit-content;
    height: 250px;
    overflow: hidden;
}

#location-image #image {
    float: left;
    width: 400px;
}

#location-image #compass {
    margin-top: 50px;
    float: left;
    width: 350px;

}

#player-input{
    background-color: rgb(15, 15, 15);
    border: 0;
    caret-color: white;
}
#player-input:focus{
    background-color: rgb(15, 15, 15);
    border: 0;
    outline: none;
}

#location-text {
    height: 100px;
    
}

.compass_cover {
    position: absolute;
    width: 25px;
    height: 23px;
    background-color: rgb(15, 15, 15);
}

#E{
    top: 145px;
    left: 720px;
}

#W {
    top: 145px;
    left: 420px;
}

#N {
    top: 97px;
    left: 560px;
}

#S {
    top: 244px;
    left: 570px;
}

 